body{
    background-color: azure;
}

form{
    background-color: #424949;
    width: 222px;
    border-radius: 10px;
    padding: 5px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
    grid-template-areas: 
    "result result result result"
    "mShow addMem remMem division"
    "seven eight nine mult"
    "four five six sub"
    "one two three add"
    "zero dot clear equals"
    ;
}

.result{
    background-color: #7b9b60;
    width: 168px;
    padding: 15px;
    margin: 5px;
}

.memory{
    background-color: grey;
    color: snow;
    width: 40px;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    text-align: center;
}

.operator{
    background-color: red;
    color: snow;
    width: 40px;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    text-align: center;
}

.numbers{
    background-color: lightgrey;
    width: 40px;
    padding: 10px;
    vertical-align: middle;
    margin: 5px;
    border-radius: 10px;
    text-align: center;
}

input[name=show]{
    grid-area:mShow;
}
input[name=addmem]{
    grid-area:addMem;
}
input[name=removemem]{
    grid-area:remMem;
}
input[name=division]{
    grid-area:division;
}

input[name=seven]{
    grid-area:seven;
}
input[name=eight]{
    grid-area:eight;
}
input[name=nine]{
    grid-area:nine;
}
input[name=multiplication]{
    grid-area:mult;
}

input[name=four]{
    grid-area:four;
}
input[name=five]{
    grid-area:five;
}
input[name=six]{
    grid-area:six;
}
input[name=minus]{
    grid-area:sub;
}

input[name=one]{
    grid-area:one;
}
input[name=two]{
    grid-area:two;
}
input[name=three]{
    grid-area:three;
}
input[name=sum]{
    grid-area:add;
}

input[name=zero]{
    grid-area:zero;
}
input[name=dot]{
    grid-area:dot;
}
input[name=clear]{
    grid-area:clear;
}
input[name=equals]{
    grid-area:equals;
}