body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    font-size: 3em;
}

h2{
    color:lightgreen;
}

button, input{
    font-size: 1.1em;
    background-color: lightblue;
}

#butElim{
    background-color: lightcoral;
}