/* specificity = 1 */
body{
    font-family: Arial, Helvetica, sans-serif;
}

/* specificity = 1 */
h1{
    display: flex;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-size: 250%;
    background-color: #005580;
    color: #fff;
    justify-content: center;
    align-items: center;
    padding: 30px;
    grid-area: title;
}

/* specificity = 1 */
h2{
    font-family:'Courier New', Courier, monospace;
    text-decoration: underline;
}

/* specificity = 1 */
nav{
    display: flex;
    justify-content: space-evenly;
    background-color: #D9FF52;
    grid-area: nav;
    justify-self: stretch;
    text-align: center;
    vertical-align: middle;
    line-height: 20px;
}

/* specificity = 10 */
.container{
    grid-area: main;
    display: flex;
    flex-direction: column;
}

/* specificity = 10 */
.multimedia{
    grid-area: aside;
    display: flex;
    flex-direction: column;
    justify-content: stretch;

}

/* specificity = 10 */
.indexContainer{
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 160px 30px 75%;
    grid-template-areas: 
    "title title"
    "nav nav"
    "main aside"
    "main aside"
    "footer footer";
}

/* specificity = 10 */
.javaContainer, .premiosContainer{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 160px 30px 75%;
    grid-template-areas: 
    "title title"
    "nav nav"
    "main main"
    "main main"
    "footer footer";
}

/* specificity = 10 */
.formularioContainer{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 160px 30px 75%;
    grid-template-areas: 
    "title title"
    "nav nav"
    "form ."
    "form ."
    "footer footer";
}

/* specificity = 100 */
#fotoRyan{
    width: 400px;
    height: auto;
}

/* specificity = 1 */
footer{
    grid-area: footer;
    background-color: #D9FF52;
}

/* specificity = 100 */
#autor{
    text-align: center;
}
