body{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-size: 250%;
    background-color: #005580;
    color: #fff;
}

h2{
    font-family:'Courier New', Courier, monospace;
    text-decoration: underline;
}

nav{
    display: flex;
    justify-content: space-evenly;
    background-color: #D9FF52;
    grid-area: nav;
    justify-self: stretch;
    text-align: center;
    vertical-align: middle;
    line-height: 20px;
}

.title{
    grid-area: title;
}

/*
.navigation{
    grid-area: nav;
    justify-self: stretch;
    text-align: center;
    vertical-align: middle;
    line-height: 20px;
}
*/
.container{
    grid-area: main;
    display: flex;
    flex-direction: column;
}

.multimedia{
    grid-area: aside;
    display: flex;
    flex-direction: column;
    justify-self: stretch;
}

.indexContainer{
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 160px 30px 75%;
    grid-template-areas: 
    "title title"
    "nav nav"
    "main aside"
    "main aside";
}

.javaContainer, .premiosContainer, .formularioContainer{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 160px 30px 75%;
    grid-template-areas: 
    "title title"
    "nav nav"
    "main main"
    "main main";
}

#fotoRyan{
    width: 400px;
    height: auto;
}


