fieldset {
    width: 40%;
}

#labelNombre{
    grid-area: lNombre;
    margin-top: 5px;
    margin-bottom: 5px;
}

#nombre{
    grid-area: nombre;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 15px;
}

#labelEmail{
    grid-area: lEmail;
    margin-top: 20px;
    margin-bottom: 5px;
}

#email{
    grid-area: email;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px;
}

#fConocer{
    grid-area: conocer;
    margin-top:30px;
    margin-bottom: 5px;
}

#fUsar{
    grid-area: usar;
    margin-top: 10px;
    margin-bottom: 5px;
}

#labelOpinion{
    resize: none;
    margin-top: 20px;
    margin-bottom: 5px;
    grid-area: lOpinion;
    
}

#opinion{
    resize: none;
    grid-area: opinion;
    margin-top: 20px;
    margin-bottom: 5px;
    padding: 10px;
}

#enviar{
    margin: 10px;
    grid-area: enviar;
}

.formulario{
    font-size: 18px;
    grid-area: form;
    display: grid;
    grid-template-columns: 550px 100px 50px;
    grid-template-rows: 3% 4% 3% 4% 25% 25% 3% 25% 8%;
    grid-template-areas: 
    "lNombre . ."
    "nombre . ."
    "lEmail . ."
    "email . ."
    "conocer conocer ."
    "usar usar ."
    "lOpinion . ."
    "opinion . ."
    ". enviar ."
    ;
}
