fieldset {
    width: 40%;
}

#labelNombre{
    grid-area: lNombre;
}

#nombre{
    grid-area: nombre;
    padding: 12px;
}

#labelEmail{
    grid-area: lEmail;
}

#email{
    grid-area: email;
    padding: 12px;
}

#fConocer{
    grid-area: conocer;
    padding: 12px;
}

#fUsar{
    grid-area: usar;
    padding: 12px;
}

#labelOpinion{
    resize: none;
    grid-area: lOpinion;
}

#opinion{
    resize: none;
    grid-area: opinion;
    padding: 12px;
}

#enviar{
    grid-area: enviar;
}

.formulario{
    font-size: 18px;
    grid-area: form;
    display: grid;
    grid-template-columns: 500px 100px 100px;
    grid-template-rows: 6% 6% 6% 6% 23% 23% 6% 1% 25% 4% 6%;
    grid-template-areas: 
    "lNombre . ."
    "nombre . ."
    "lEmail . ."
    "email . ."
    "conocer conocer ."
    "usar usar ."
    "lOpinion . ."
    ". . ."
    "opinion . ."
    ". . ."
    ". enviar ."
    ;
}
