body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1, #soporte{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

#contenidoArchivo{
    text-decoration: underline;
}

#areaTexto{
    display: inline-block;
    background-color: antiquewhite;
}
